

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
}



.header,.heroSection,.footer{
    background-color: #1f2937;
    padding: 0 200px 0 200px;
}

.header{
    padding-top: 15px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}



.headerLogo{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.headerLinks,.heroPara{
    font-size: 18px;
    color: #E5E7EB;
}

.headerLinks{
    display: flex;
    gap: 16px;

}

.heroSection{
    height: 360px;
    display: flex;
    gap: 50px;
}

.heroMainTxt{
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.heroButton{
    background-color: rgba(111, 54, 185, 0.842);
    color: #b6b9b3;
    height: 40px;
    width: 125px;
    margin-top: 15px;
    margin-left: 5px;
    border-radius: 8px;
    font-weight: bolder;
    border: none;
    font-size: 18px;
}

.heroRight{
    width: 1000px;
}

.heroImg{
    background-color: grey;
    height: 240px;
}

.blockSection{
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 500px;
    padding: 0 300px 0 300px;
}

.blockHeader{
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    margin-top: 50px;
}

.fourBlocks{
  margin-top: 50px;  
  display: flex;
  flex: 1;
  gap: 50px;
}

.block{
    display: flex;
    flex-direction: column;
}

.innerBlock{
    width: 160px;
    height: 160px;
    border: 4px solid #481cc2;
    border-radius: 10px;
}

.blockText{
    text-align: center;
    text-wrap: balance;
    color: rgb(82, 80, 80);
    font-size: 18px;
}


.bigQoute{
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    height: 500px;
    padding: 0 200px 0 200px;
    align-items: center;
    justify-content: center;
}
.qouteText{
    font-size: 36px;
    font-weight: 600;
    color: #1F2937;
    font-style: italic;
}

.qoutee{
    align-self: flex-end;
    margin-right: 80px;
    font-size: 24px;
    font-weight: bolder;
}

.callToAction{
    Display:flex;
    background-color: white;
    height: 350px;
    padding: 0 250px 0 150px;

}

.actionBox{
    display: flex;
    height: 150px;
    width: 1300px;
    background-color: #3774ce;
    margin-top: 100px;
    margin-left: 70px;
    justify-content: space-around;
    align-items: center;
    border-radius: 8px;
}

.actionPoints{
    display: flex;
    flex-direction: column;
    color: #F9FAF8;
}

.actionHeading{
    font-size: 24px;
    font-weight: bolder;
}

.actionText{
    font-size: 18px;
}

.actionButton{
    color: #F9FAF8;
    background-color: #3774ce;
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    height: 40px;
    width: 125px;
    font-weight: bolder;
    font-size: 18px;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    color: #F9FAF8;
}


